
#### Mac OS : Apple M2 Air
tensorflow-macos==2.12.0
tensorflow-metal

#### General & Google Colab
# tensorflow

## Generic
pandas
numpy
dvc
notebook
matplotlib
seaborn
scikit-learn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-pyYAML
scipy
Flask
Flask-Cors
streamlit
-e .